body{
    margin: 0px;
    padding: 0px;
}
ul{
    background-color: black;
    padding: 8px 16px 8px 80px;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
}
nav li{
    list-style-type: none;
    display: inline;
}
nav a{
    text-decoration: none;
    padding: 8px 16px 8px 0px;
    height: auto;
    color: white;
    font-family: play;
    font-size: 18px;    
}
nav a:hover{
    text-decoration: none;
    color: orangered;
}
#main{
    text-align: center;
    padding: 128px 80px 64px 80px;
    background-color: rgba(0, 0, 0, 0.7);  
}
#main h1{
    font-family: play;
    font-size: 64px;
    font-weight: bold;
    color: white;    
}
#main h2{
    font-family: play;
    font-size: 24px; 
    color: white;   
}
#main p{
    font-family: play;
    font-size: 20px; 
    color: white;   
}
#main h3{
    font-family: play;
    font-size: 32px; 
    color: white;   
}
#main input{
    padding: 8px 16px;
    width: 40%;
    font-family: play;
    border: 3px solid black;
}
#main button{
    padding: 8px 32px;
    font-family: play;   
    font-weight: bold; 
    background-color: black;
    border: 2px solid white;
    color: white;
}
#main button:hover{
    padding: 8px 32px;
    font-family: play;   
    font-weight: bold; 
    background-color: white;
    border: 3px solid white;
    color: black;
}
#main-header h2{
    font-family: play;
    font-size: 36px;
    text-align: center;
}
#main-container{
    background-color: black;
    margin: 80px;
    padding: 24px 16px;
}
#blog-container{
    margin-bottom: 24px;
}
#blog-container h2{
    font-family: play;
    font-size: 32px;
    color: white;
}
#blog-container h3{
    font-family: play;
    font-size: 20px;
    color: white;
}
#blog-container h4{
    font-family: play;
    font-size: 16px;
    color: white;   
    margin-top: 4px;
    margin-bottom: 4px; 
}
#blog-container button{    
    font-family: play;
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
}
#blog-container a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 32px;
}
#about-ethan{
    padding: 52px 80px;
}
#about-ethan h2{
    font-family: play;
}
#about-ethan img{
    float: left;
    padding-right: 80px;
}
#about-ethan h3{
    font-family: play;
    font-size: 24px;
}
#about-ethan a{
    font-family: play;
    border: 2px solid black;
    padding: 8px 42px;
    margin: 8px 16px 8px 0px;
    color: white;
    background-color: black;
}
#about-ethan a:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 4px solid orangered;
}
#message{
    clear: both;
    text-align: center;
    padding: 32px 0px;
    background-color: black;
}
#message h3{
    font-family: play;
    font-size: 32px;
    color: white;
}
#message textarea{
    width: 50%;
    font-family: play;
    font-size: 20px;
    color: black;
    margin-bottom: 2px;
}
#message input{
    width: 50%;
    margin-bottom: 8px;
    padding: 8px 4px;
    font-family: play;
    font-size: 18px;
}
#message button{
    font-family: play;
    font-weight: bold;
    background-color: black;
    border: 2px solid white;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 1px;
    color: white;
}
#message button:hover{
    font-family: play;
    font-weight: bold;
    background-color: white;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 1px;
    color: black;
}
footer{
    clear: both;
    margin: 0px;
    padding: 8px 16px;
    text-align: center;
    color: white;
    background-color: black;
}
footer h5{
    font-family: play;
    font-size: 16px;
}