 <!-- Blog container template -->

<div id="main-container">
    <div id="blog-container">
        <h2>WhatIs? | </h2>
        <img src="" alt="" width="100%" height="200px">
        <h4>Date:</h4>
        <h4>By:</h4>
        <h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id nesciunt iusto, praesentium nulla, delectus necessitatibus accusamus odio molestias doloremque, quasi fugit vitae. Repudiandae molestiae aliquid iusto accusamus quasi voluptatum corporis.
        </h3>
        <button><a href="">Read More >>></a></button>
    </div>
</div>