<!-- suggested blog posts -->
<hr>
    <div id="suggestion">
        <h3>Suggested Topics</h3>
        <p>For more information on bitcoins, check out my continuation articles below.</p>
        <h4><a href="bitcoin-introduction.html">WHATIS? | BITCOIN | Introduction</a></h4>
        <h4><a href="bitcoin-design.html">WHATIS? | BITCOIN | Design</a></h4>
        <h4><a href="bitcoin-ideology-and-economics.html">WHATIS? | BITCOIN | Ideology & Economics</a></h4>
        <h4><a href="bitcoin-legal-status-tax-and-regulation.html">WHATIS? | BITCOIN | Legal Status, Tax & Regulation</a></h4>
        <h4><a href="bitcoin-criticisim.html">WHATIS? | BITCOIN | Criticism</a></h4>
    </div>